<div id="dropdown-form">
  <div class="row">

      <div class="input-field col m3 s12">
        <input type="date" class="datepicker" value="Start Date" name="day">
      </div>

      <div class="input-field col m3 s12">
        <select name="start">
          <option disabled selected>Start Time</option>
          <option value="1000">10:00 AM</option>
          <option value="1030">10:30 AM</option>
          <option value="1100">11:00 AM</option>
          <option value="1130">11:30 AM</option>
          <option value="1200">12:00 PM</option>
          <option value="1230">12:30 PM</option>
          <option value="1300">1:00 PM</option>
          <option value="1330">1:30 PM</option>
          <option value="1400">2:00 PM</option>
          <option value="1430">2:30 PM</option>
          <option value="1500">3:00 PM</option>
          <option value="1530">3:30 PM</option>
          <option value="1600">4:00 PM</option>
          <option value="1630">4:30 PM</option>
          <option value="1700">5:00 PM</option>
          <option value="1730">5:30 PM</option>
          <option value="1800">6:00 PM</option>
          <option value="1830">6:30 PM</option>
          <option value="1900">7:00 PM</option>
          <option value="1930">7:30 PM</option>
          <option value="2000">8:00 PM</option>
          <option value="2030">8:30 PM</option>
          <option value="2100">9:00 PM</option>
          <option value="2130">9:30 PM</option>
          <option value="2200">10:00 PM</option>
          <option value="2230">10:30 PM</option>
          </select>
      </div>

       <div class="input-field col m3 s12">
        <select name="end">
          <option disabled selected>End Time</option>
          <option value="1030">10:30 AM</option>
          <option value="1100">11:00 AM</option>
          <option value="1130">11:30 AM</option>
          <option value="1200">12:00 PM</option>
          <option value="1230">12:30 PM</option>
          <option value="1300">1:00 PM</option>
          <option value="1330">1:30 PM</option>
          <option value="1400">2:00 PM</option>
          <option value="1430">2:30 PM</option>
          <option value="1500">3:00 PM</option>
          <option value="1530">3:30 PM</option>
          <option value="1600">4:00 PM</option>
          <option value="1630">4:30 PM</option>
          <option value="1700">5:00 PM</option>
          <option value="1730">5:30 PM</option>
          <option value="1800">6:00 PM</option>
          <option value="1830">6:30 PM</option>
          <option value="1900">7:00 PM</option>
          <option value="1930">7:30 PM</option>
          <option value="2000">8:00 PM</option>
          <option value="2030">8:30 PM</option>
          <option value="2100">9:00 PM</option>
          <option value="2130">9:30 PM</option>
          <option value="2200">10:00 PM</option>
          <option value="2230">10:30 PM</option>
          <option value="2300">11:00 PM</option>
        </select>
      </div>

      <div id="week-day-option">
        <button class="btn waves-effect waves-light" type="submit" name="byweek" id="week-button">By Week
          <i class="material-icons right">send</i>
        </button>
        <button class="btn waves-effect waves-light" type="submit" name="byday" id="day-button">By Day
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
