/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

.arearange {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
  margin-top: 2%
}

#heatmap {
  height: 400px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2%;
}

#submit-button {
  margin-top: 1.5%;
}

#dropdown-form {
  margin-left: 15%;
}

.error {
  color: #D8000C;
  text-align: center;
}

#week-day-option {
  margin-top: 2%;
  margin-left: 40%;
  margin-bottom: 2%;
}

#day-button {
  margin-top: 5px;
}

.hidden {
  display: none;
}

